<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cruelbb.business.common.dao.MenuMapper">

  <!-- 查找所有menu -->
  <select id="getMenuList" resultType="com.cruelbb.business.menu.po.Menu">
    select
    id,title,parentid,icon,href,disabled
    from menu
    where disabled = 0
  </select>

  <select id="getMenuListByUserName" parameterType="string" resultType="com.cruelbb.business.menu.po.Menu">
  select
  id,title,parentid,icon,href,disabled
  form menu
  </select>

  <!-- 父节点下拉框 -->
  <select id="getParentMenuList" resultType="com.cruelbb.business.menu.po.Menu">
    select
    id,title,icon,href,disabled
    from menu where parentid = 0 and
    disabled = 0
  </select>

  <!-- 通过parentid查找子节点 -->
  <select id="getChildByParentId" parameterType="int" resultType="com.cruelbb.business.menu.po.Menu">
    select
    id,title,icon,href,disabled
    from menu
    <where>
      parentid = #{id} and disabled = 0
    </where>
  </select>

  <!-- 软删除 菜单按钮 -->
  <update id="delMenuById" parameterType="int">
    update menu
    <set>
      disabled = 1
    </set>
    where id = #{id}
  </update>
  <!-- 新增菜单 -->
  <insert id="addMenu" parameterType="com.cruelbb.business.menu.po.Menu">
    insert into menu(title,parentid,icon,href,disabled)
    values
    (#{title},#{parentid},#{icon},#{href},#{disabled})
  </insert>
</mapper>