<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>用户管理</title>
<link rel="stylesheet" href="/static/plugins/layui/css/layui.css" />
<link rel="stylesheet" href="/static/plugins/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/plugins/jqGrid/css/ui.jqgrid.css" />
</head>

<body>
  <div>
    <input type="text" name="title" placeholder="用户名" class="layui-input">
    <button class="layui-btn layui-btn-normal">查询</button>
  </div>
  <div class="jqGrid_wrapper">
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
  </div>

  <script type="text/javascript" src="/static/plugins/vue.min.js"></script>
  <script type="text/javascript" src="/static/plugins/layui/layui.js"></script>
  <script type="text/javascript" src="/static/plugins/jquery.min.js"></script>
  <script type="text/javascript" src="/static/plugins/jqGrid/js/jquery.jqGrid.min.js"></script>
  <script type="text/javascript" src="/static/plugins/jqGrid/js/i18n/grid.locale-cn.js"></script>
  <script type="text/javascript" src="/static/js/pluginsConfigJs.js"></script>
  <script>
			layui.use([ 'form' ], function() {
				var form = layui.form;
				window.form = layui.form;
			});

			$(function() {
				$("#jqGrid").jqGrid({
					url : '/user/manage/list.do',
					colModel : [ {
						label : '用户ID',
						name : 'id',
						hidden : true,
						key : true
					}, {
						label : '用户名',
						name : 'email',
						width : 75
					}, {
						label : '昵称',
						name : 'nickname',
						width : 75
					}, {
						label : '角色',
						name : 'rolename',
						width : 75
					}, {
						label : '权限',
						name : 'permissionname',
						width : 75
					}, {
						label : '状态',
						name : 'status',
						width : 75,
						formatter : function(value, options, row) {
							return value === 1 ? '<span>正常</span>' : '<span>禁用</span>';
						}
					}, {
						label : '创建时间',
						name : 'createTime',
						width : 75
					}, {
						label : '最近登录',
						name : 'lastLoginTime',
						width : 75
					} ]
				});

			});
		</script>
</body>

</html>